.editDetail{
	padding-bottom: 20px;
    border-radius: 5px;
}
span.input-group-addon {
    max-width: 35px;
    color: #ffffff;
    background-color: #4368da;
}
.basicDetailsContainer .col-form-label{
    color: #0d5a9e;
    font-weight: bold;
}
.basicDetailsContainer legend{
    font-weight: bold;
    color: #4368da;
}
.editDetail form input[disabled],.editDetail form textarea[disabled],
.editDetail form select[disabled]{
	border: none;
    background: #fff;
}